<!-- Header -->
<header class="bg-gray-dark sticky top-0 z-50">
    <div class="container mx-auto flex justify-between items-center py-4">
        <!-- Left section: Logo -->
        {{#if user.dataValues.is_admin}}
        <a href="/admin" class="flex items-center">
            <div>
                <img src="/public/images/template-white-logo.png" alt="Logo" class="h-14 w-auto mr-4" />
            </div>
        </a>
        {{else}}
        <a href="/" class="flex items-center">
            <div>
                <img src="/public/images/template-white-logo.png" alt="Logo" class="h-14 w-auto mr-4" />
            </div>
        </a>
        {{/if}}

        <!-- Hamburger menu (for mobile) -->
        <div class="flex lg:hidden">
            <button id="hamburger" class="text-white focus:outline-none">
                <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7">
                    </path>
                </svg>
            </button>
        </div>

        <!-- Center section: Menu -->
        <nav class="hidden lg:flex md:flex-grow justify-center">
            <ul class="flex justify-center space-x-4 text-white">
                {{#if user.dataValues.is_admin}}
                <li><a href="/admin/users" class="hover:text-secondary font-semibold">Users management</a></li>
                <li><a href="/admin/products" class="hover:text-secondary font-semibold">Products management</a></li>
                <li><a href="/admin/orders" class="hover:text-secondary font-semibold">Orders management</a></li>
                <li><a href="/admin/reports" class="hover:text-secondary font-semibold">Report</a></li>
                {{else}}
                <li><a href="/" class="hover:text-secondary font-semibold">Home</a></li>
                <li><a href="/shop" class="hover:text-secondary font-semibold">Shop</a></li>
                <li><a href="/about" class="hover:text-secondary font-semibold">About</a></li>
                <li><a href="/contact" class="hover:text-secondary font-semibold">Contact</a></li>
                {{/if}}
            </ul>
        </nav>

        <!-- Right section: Buttons (for desktop) -->
        <div class="hidden lg:flex items-center space-x-4 relative">
            {{#unless user.dataValues.is_admin}}
            <div class="relative group cart-wrapper">
                <a href="/user/cart">
                    <img src="/public/images/cart-shopping.svg" alt="Cart"
                        class="h-6 w-6 group-hover:scale-120 cursor-pointer" />
                </a>
            </div>
            {{/unless}}
            {{#if user}}
            <div class="flex items-center justify-start">
                <span class="text-white mr-4">Hi,
                    {{#if user.dataValues.email}}{{user.dataValues.email}}{{else}}{{user.email}}{{/if}}
                </span>

                <div id="user-wrapper" class="relative group inline-block">
                    <a href="/user/profile">
                        <img id="header-user-avatar" src="/public/images/user_images/{{user.dataValues.id}}.jpg"
                            alt="Avatar" class="h-8 w-8 group-hover:scale-120 cursor-pointer rounded-full" />
                    </a>
                    <!-- Dropdown -->
                    <div id="user-dropdown"
                        class="absolute right-0 mt-4 w-40 bg-white shadow-lg rounded hidden group-hover:block">
                        {{#if user.dataValues.is_google}}
                        {{else}}
                        <a href="/user/change-password" class="block px-4 py-2 text-sm hover:text-primary border">Change
                            password</a>
                        {{/if}}
                        <a href="/user/logout" class="block px-4 py-2 text-sm hover:text-primary">Logout</a>
                    </div>
                </div>
            </div>
            {{else}}
            <a href="/user/register"
                class="bg-primary border border-primary hover:bg-transparent text-white hover:text-primary font-semibold px-4 py-2 rounded-full inline-block">Register</a>
            <a href="/user/login"
                class="bg-primary border border-primary hover:bg-transparent text-white hover:text-primary font-semibold px-4 py-2 rounded-full inline-block">Login</a>
            {{/if}}
        </div>
    </div>
</header>

<!-- Mobile menu -->
<nav id="mobile-menu-placeholder"
    class="mobile-menu bg-white fixed w-full hidden flex flex-col items-center space-y-8 lg:hidden z-50">
    <ul class="w-full">
        <li><a href="/" class="hover:text-secondary font-bold block py-2">Home</a></li>
        <li><a href="/shop" class="hover:text-secondary font-bold block py-2">Shop</a></li>
        <li><a href="/about" class="hover:text-secondary font-bold block py-2">About</a></li>
        <li><a href="/contact" class="hover:text-secondary font-bold block py-2">Contact</a></li>
    </ul>
    <div class="flex flex-col space-y-2 items-center">

        <a href="/user/cart"
            class="bg-primary hover:bg-transparent text-white hover:text-primary border border-primary font-semibold px-4 py-2 rounded-full inline-block flex items-center justify-center min-w-[110px]">Cart
            -&nbsp;<span>5</span>&nbsp;items</a>
        {{#if user}}
        <div class="flex flex-col">
            <span class="text-black">Hi, {{user.dataValues.email}}</span>
            {{#if user.dataValues.is_google}}
            {{else}}
            <a href="/user/logout" class="block text-black hover:text-primary text-center underline">Change password</a>
            {{/if}}
            <a href="/user/logout" class="block text-black hover:text-primary text-center underline">Logout</a>
        </div>
        {{else}}
        <a href="/user/register"
            class="bg-primary hover:bg-transparent text-white hover:text-primary border border-primary font-semibold px-4 py-2 rounded-full inline-block flex items-center justify-center min-w-[110px]">Register</a>
        <a href="/user/login"
            class="bg-primary hover:bg-transparent text-white hover:text-primary border border-primary font-semibold px-4 py-2 rounded-full inline-block flex items-center justify-center min-w-[110px]">Login</a>

        {{/if}}
    </div>
</nav>